tinyfire_venv/
dataset/
first_tests/YOLOv26/exported_model_original
first_tests/YOLOv26/exported_model_pruned
first_tests/YOLOv26/exported_model_compressed
first_tests/YOLOv26/best.onnx
first_tests/YOLOv26/best_saved_model
.vscode/